<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <!-- <script src="https://unpkg.com/vue@next"></script> -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script src="/static/js/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    var socket = io();
    var dataDict = JSON.parse('{{data|tojson|safe}}');
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
    socket.on('my response', function(msg) {
      console.log('<p>Received: ' + msg.data + '</p>');
        // $('#log').append('<p>Received: ' + msg.data + '</p>');
    });
</script>
  </head>
  <body>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJk_eaj59EWmu4nkpsdtsH8AodHBZHRnU&callback=initMap&libraries=&v=weekly"
      
    ></script>
    <script>

      // myVar = initMap({{data.lat}},{{data.lon}}, "{{data.dev}}", "{{data.time}}");
      // console.log("{{data.time}}", "{{data.date}}");
      // initMap(data.lat,data.lon, data.dev, data.time);
      // console.log({{zone}});

      initMap(dataDict[dataDict.length-1]);
      for (var d in dataDict){
        data = dataDict[d]
        addMarker(map, data, d);
      }
      safeZone({{b}});
      
    </script>
  </body>
</html>