<!-- <html>  
    <head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    </head>
      
    <body style='margin: 0'>
    <div style="width: 100%; height: 100%" id="mapContainer"></div>
    
    <script>	
          // Initialize the platform object:
          var platform = new H.service.Platform({
            'apikey': 'Dmx6TCIMzxZDYiTfRlfAwTbuX_hZ5BmyS5rko87koeo'
          });
          
           const lat = 47.62;
           const long = -122.17;
        
        // Obtain the default map types from the platform object
          var maptypes = platform.createDefaultLayers();
    
          // Instantiate (and display) a map object:
          var map = new H.Map(
            document.getElementById('mapContainer'),
            // maptypes.vector.normal.map,
            // maptypes.raster.terrain.map, 
            // maptypes.raster.satellite.map,
            {
              zoom: 10,
              center: { lat: lat, lng: long }  
            });
            
        var marker = new H.map.Marker({ lat: lat, lng: long });
            
        // Add the marker to the map:
        map.addObject(marker);
            
// Enable the event system on the map instance:
	  var mapEvents = new H.mapevents.MapEvents(map);
	
	// Add event listener:
	  map.addEventListener('tap', function(evt) {
    // Log 'tap' and 'mouse' events:
      console.log(evt.type, evt.currentPointer.type); 
})
    </script>
    </body>
    </html> -->


<html>  
<head>
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css"href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
<script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>

<script>
  const firebaseConfig = {
  apiKey: "AIzaSyA64SnZJbvUn0hNMB98YHIdX-GljYKaukM",
  authDomain: "m3-bd3e2.firebaseapp.com",
  databaseURL: "https://m3-bd3e2-default-rtdb.firebaseio.com",
  projectId: "m3-bd3e2",
  storageBucket: "m3-bd3e2.appspot.com",
  messagingSenderId: "919871683536",
  appId: "1:919871683536:web:0f4e81149203268c0797d5"
};
firebase.initializeApp(firebaseConfig);
const dbRef = firebase.database().ref();


var db = firebase.database()
  //   var lat = {{lat}}
	// var lon = {{lon}}
let lat = 47.62;
let lon = -122.17;

  var fdbRef = firebase.database().ref('/');
  fdbRef.on('value', (snapshot) => {
  const data = snapshot.val();
    lat = data.lat
    lon = data.lon
console.log(lat)

});
function moveMap(map){
  map.setCenter({lat:48, lng:lon});
  // map.setZoom(14);
}

console.log(lat)
console.log(lon)
</script>
</head>
  
<body style='margin: 0'>
<div style="width: 100%; height: 100%" id="mapContainer"></div>

<script>	
      // Initialize the platform object:
      var platform = new H.service.Platform({
        'apikey': 'wnAke3jVizyGMEYAV248xqGqTafdiHSvDLbLOhSlia0'
      });
	  

	
	// Obtain the default map types from the platform object
      var maptypes = platform.createDefaultLayers();

      // Initialize a map:
      var map = new H.Map(
        document.getElementById('mapContainer'),
        maptypes.vector.normal.map,
        // maptypes.raster.terrain.map,
        {
          zoom: 10,
          center: { lat: lat, lng: lon }  
        });
		
	// Enable the event system on the map instance:
	  var mapEvents = new H.mapevents.MapEvents(map);
	
	// Add event listener:
	  map.addEventListener('tap', function(evt) {
    // Log 'tap' and 'mouse' events:
    moveMap(map);
      console.log(evt.type, evt.currentPointer.type); 
    //   console.log(evt.type, evt.currentPointer.lat); 
});

	// Instantiate the default behavior, providing the mapEvents object:
	 var behavior = new H.mapevents.Behavior(mapEvents);

	//window.addEventListener('resize',()=> get.ViewProt().resize())
	var marker = new H.map.Marker({ lat: lat, lng: lon });
		
	// Add the marker to the map:
	map.addObject(marker);
	
	// Create the default UI:
	var ui = H.ui.UI.createDefault(map, maptypes);
		
// Create an info bubble object at a specific geographic location:
var bubble = new H.ui.InfoBubble({ lng: 76.0534, lat: 22.9676 }, {
                content: '<b>Dewas</b>'
             });

// Add info bubble to the UI:
ui.addBubble(bubble);
window.onload = function () {
  moveMap(map);
}
</script>


</script>

</body>
</html>